/* stylelint-disable-next-line selector-class-pattern */
.toolbox__items {
  overflow-y: auto;
  height: calc(100% - 50px);
}

.no-items {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: #f00;
}
