/* stylelint-disable selector-class-pattern */
.toolbox__header-back {
  display: flex;
  border: unset;
}

.toolbox__items {
  overflow-y: auto;
  height: calc(100% - 50px);
}

.no-items {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: #f00;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;

  & .purchase-btn {
    padding: 0.5rem;
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
