.not-assessed {
  background-color: #fff;
}

.not-assessable {
  background-color: #dadada;
}

.basic {
  background-color: #93b1c3;
}

.good {
  background-color: #64a0dc;
}

.excellent {
  background-color: #7dc384;
}

.ideal {
  background-color: #47e751;
}

.verified {
  background-color: #fff;
}
