@import '@/styles/main';

.dataset-details {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 99999;
  background-color: #efefef;

  &-table {
    border: 1px solid black;

    &-container {
      margin: 10px;
    }

    &-row {
      border: 1px solid green;
      display: flex;
    }
  }
}
