.qa {
  &-performance-spec {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(auto-fill, minmax(0, auto));

    &-header {
      font-size: 24px;
    }

    :last-child {
      border-right: none;
    }

    &-column {
      :first-child {
        background-color: grey;
        color: white;
        border-right: none;
        border-left: none;
      }

      :nth-child(2n) {
        background-color: lightgrey;
      }

      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
        height: 50px;
      }
    }
  }
}
