@import "styles/main";

.toolbox-row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
  align-items: center;

  &:hover {
    background-color: $hover-colour;
  }

  &__left {
    width: 120px;
    height: -webkit-fill-available;
    max-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100px;
      width: 100px;
      // height: -webkit-fill-available;
      border:  1px solid black;
      object-fit: cover;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: calc(100% - 145px);

    &-title {
      text-decoration: underline;
      margin-bottom: 0.25em;
      font-weight: bold;
      font-size: 0.875rem;
      word-wrap: break-word;
      overflow: hidden;
    }

    .toolbox-row__data-point {
      display: flex;
      flex-direction: row;
      margin-bottom: 2px;
      font-size: 1em;

      &-icon {
        font-size: 1.2em;
        align-self: center;
      }

      &-text {
        margin-left: 0.875rem;
        font-size: 0.875em;
        align-self: center;
      }
    }
  }
}