.node {
  background: none;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: auto;
  padding: 10px;
  border: unset;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #e0e0e0;
    outline: none;
  }
}

.branch {
  list-style-type: none;
  padding: 0;
}

.leaf {
  border: 1px solid #00000003;
}
